*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#8460ed,#1b0035);
}
.menu
{
    position: relative;
    width: 200px; /* Espaço do circulo */
    height: 200px;
    /*background: #0f0;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li
{
    position: absolute;
    left: 0;
    list-style: none; /* Remove a marcacao */
    transform-origin: 100px; /* 1/2 tamanho do circulo  */
    transform: rotate(calc(360deg / 8 * var(--i))); /* o 8 nasce da qtdade. de opçoes */
    transition: .5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(80px); /* valor 80px depende do valor do menu li a */
}
.menu.active li
{
    /*background: royalblue;*/
    transform: rotate(calc((360deg / 8) * var(--i)));
}
.menu li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transform: rotate(calc((360deg / -8) * var(--i))); /*  altera rotação do item */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #111;
    transition: .5s;
}
.menu li a:hover
{
    color: #f7d206;
}
.toggle
{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: transform 1.25s;
}
.menu.active .toggle
{
    transform: rotate(315deg);
}